<form [formGroup]="addressForm" *ngIf="address">
    <ion-list>
        <ion-item text-wrap class="floating-label-icon-left input-has-icon"
                  [class.error]="!addressControl.streetAddress.valid && addressControl.streetAddress.touched">
            <ion-label floating>{{"address-form.labels.streetAddress" | translate}}</ion-label>
            <ion-icon color="primary" name="locate" item-left class="floating-label-icon"></ion-icon>
            <ion-input type="text" [(ngModel)]="address.streetAddress"
                       [formControl]="addressControl.streetAddress"></ion-input>
        </ion-item>
        <div *ngIf="addressControl.streetAddress.hasError('required') && addressControl.streetAddress.touched"
             class="icon-error-box">
            {{"address-form.errors.streetAddress.required" | translate}}
        </div>

        <ion-item text-wrap class="floating-label-icon-left input-has-icon"
                  [class.error]="!addressControl.locality.valid && addressControl.locality.touched">
            <ion-label floating>{{"address-form.labels.city" | translate}}</ion-label>
            <ion-icon color="primary" name="pin" item-left class="floating-label-icon"></ion-icon>
            <ion-input type="string" [(ngModel)]="address.locality" [formControl]="addressControl.locality"></ion-input>
        </ion-item>
        <div *ngIf="addressControl.locality.hasError('required') && addressControl.locality.touched"
             class="icon-error-box">
            {{"address-form.errors.city.required" | translate}}
        </div>

        <ion-item text-wrap class="floating-label-icon-left input-has-icon"
                  [class.error]="!addressControl.region.valid && addressControl.region.touched">
            <ion-label floating>{{"address-form.labels.state" | translate}}</ion-label>
            <ion-icon color="primary" name="map" item-left class="floating-label-icon"></ion-icon>
            <ion-input type="string" [(ngModel)]="address.region" [formControl]="addressControl.region"></ion-input>
        </ion-item>
        <div class="icon-input-help-box"
             [class.icon-error-box]="addressControl.region.hasError('required') && addressControl.region.touched"
             *ngIf="(addressControl.region.hasError('required') && addressControl.region.touched) ||
             (!addressControl.region.touched && addressControl.region.value.length === 0)">
            {{"address-form.help.state.valid" | translate}}
        </div>
        <div *ngIf="addressControl.region.hasError('invalidRegion') &&
            addressControl.region.touched &&
            addressControl.region.value.length > 0"
             class="icon-error-box">
            {{"address-form.errors.state.invalid" | translate}}
        </div>

        <ion-item text-wrap class="floating-label-icon-left input-has-icon"
                  [class.error]="!addressControl.postalCode.valid && addressControl.postalCode.touched">
            <ion-label floating>{{"address-form.labels.postalCode" | translate}}</ion-label>
            <ion-icon color="primary" name="code" item-left class="floating-label-icon"></ion-icon>
            <ion-input type="number" [(ngModel)]="address.postalCode"
                       [formControl]="addressControl.postalCode"></ion-input>
        </ion-item>
        <div *ngIf="(addressControl.postalCode.hasError('minlength') ||
                        addressControl.postalCode.hasError('maxlength')) &&
                        addressControl.postalCode.touched"
             class="icon-error-box">
            {{"address-form.errors.postalCode.length" | translate}}
        </div>

        <div padding></div>

    </ion-list>
</form>