<ion-menu #leftMenu [content]="content">
    <ion-header>
        <ion-toolbar color="navbar">
            <ion-title>
                <img src="{{navbarPassPrintLogoUri}}" height="44" width="196"/>
            </ion-title>
        </ion-toolbar>
        <ion-toolbar color="dft-dk-blue" *ngIf="user">
            <ion-list no-lines class="list-user">
                <button ion-item detail-none text-wrap
                        class="item-navbar"
                        *ngIf="user"
                        (click)="showAccountMenu()">
                    <ion-avatar item-left>
                        <img src="{{user.profile.picture}}" *ngIf="user.profile.picture">
                        <div *ngIf="!user.profile.picture">
                            <button ion-button icon-only round clear color="light"
                                    class="disable-hover no-user-image-icon">
                                <ion-icon name="contact"></ion-icon>
                            </button>
                        </div>
                    </ion-avatar>
                    <h2>{{user.profile.name.display}}</h2>
                    <p class="user-item-email" *ngIf="user && user.emails">{{user.emails['0'].address}}</p>
                    <ion-icon name="md-more" item-right></ion-icon>
                </button>
            </ion-list>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list background-color="white">
            <div *ngIf="!user && noUserPages && noUserPages.length > 0">
                <div *ngFor="let noUserPage of noUserPages">
                    <button ion-item text-wrap
                            (click)="openPage(noUserPage)">
                        <ion-icon item-left color="primary"
                                  [name]="!noUserPage.isIconFA ? noUserPage.icon : ''">
                            <i class="fa {{noUserPage.icon}}"
                               aria-hidden="true" *ngIf="noUserPage.isIconFA">
                            </i>
                        </ion-icon>
                        {{noUserPage.title | translate}}
                    </button>
                </div>
            </div>
            <div *ngIf="user && userPages && userPages.length > 0">
                <div *ngFor="let userPage of userPages">
                    <button ion-item text-wrap
                            (click)="openPage(userPage)"
                            *ngIf="!userPage.hide">
                        <ion-icon item-left color="primary"
                                  [name]="!userPage.isIconFA ? userPage.icon : ''">
                            <i class="fa {{userPage.icon}}"
                               aria-hidden="true" *ngIf="userPage.isIconFA">
                            </i>
                        </ion-icon>
                        {{userPage.title | translate}}
                    </button>
                </div>
            </div>
            <div *ngIf="pages && pages.length > 0">
                <div *ngFor="let page of pages">
                    <button ion-item text-wrap
                            (click)="openPage(page)">
                        <ion-icon item-left color="primary"
                                  [name]="!page.isIconFA ? page.icon : ''">
                            <i class="fa {{page.icon}}"
                               aria-hidden="true" *ngIf="page.isIconFA">
                            </i>
                        </ion-icon>
                        {{page.title | translate}}
                    </button>
                </div>
            </div>
            <button ion-item detail-none
                    *ngIf="user"
                    (click)="logout()">
                <ion-icon name="log-out" item-left color="danger"></ion-icon>
                {{"menu.logout" | translate}}
            </button>
        </ion-list>
    </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipe-back-enabled="false"></ion-nav>