<ion-header>
    <ion-navbar color="navbar">
        <ion-title>
            <img src="{{navbarPassPrintLogoUri}}" height="44" width="196" />
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

</ion-content>