<ion-header>
    <ion-navbar color="navbar">
        <ion-title>
            <img src="{{navbarPassPrintLogoUri}}" height="44" width="196"/>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card class="card-centered-limited-width">
        <ion-card-header>
            <h1>
                {{"page-billing-account.title" | translate}}
            </h1>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-list-header>
                    {{"page-billing-account.headers.contactInfo" | translate}}
                </ion-list-header>
                <ion-list>

                </ion-list>
            </ion-list>
            <ion-list>
                <ion-list-header>
                    {{"page-billing-account.headers.mailingAddress" | translate}}
                </ion-list-header>
                <address-form [(address)]="address"
                              (onAddressFormValueChanged)="onAddressFormValueChanged($event)">
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>