<ion-card class="card-centered-limited-width">
    <img src="{{cardPassPrintLogoUri}}"/>
    <ion-card-content>
        <form [formGroup]="createAccountForm">
            <ion-list>
                <ion-item text-wrap class="floating-label-icon-left input-has-icon"
                          [class.error]="!formControl.givenName.valid && formControl.givenName.touched">
                    <ion-label floating>{{"create-account-card.labels.firstName" | translate}}</ion-label>
                    <ion-icon color="primary" name="person" item-left class="floating-label-icon"></ion-icon>
                    <ion-input type="string" [(ngModel)]="user.profile.name.given"
                               [formControl]="formControl.givenName"></ion-input>
                </ion-item>

                <ion-item text-wrap class="floating-label-icon-left input-has-icon"
                          [class.error]="!formControl.familyName.valid && formControl.familyName.touched">
                    <ion-label floating>{{"create-account-card.labels.lastName" | translate}}</ion-label>
                    <ion-icon color="primary" name="person" item-left class="floating-label-icon"></ion-icon>
                    <ion-input type="string" [(ngModel)]="user.profile.name.family"
                               [formControl]="formControl.familyName"></ion-input>
                </ion-item>

                <!--email-->
                <ion-item text-wrap class="floating-label-icon-left input-has-icon"
                          [class.error]="!formControl.email.valid && formControl.email.touched">
                    <ion-label floating>{{"login-card.labels.email" | translate}}</ion-label>
                    <ion-icon color="primary" name="mail" item-left class="floating-label-icon"></ion-icon>
                    <ion-input type="email" [(ngModel)]="user.email" [formControl]="formControl.email"></ion-input>
                </ion-item>
                <div *ngIf="(formControl.email.hasError('required') || formControl.email.hasError('invalidEmail')) && formControl.email.touched"
                     class="icon-error-box">{{"login-card.errors.invalidEmail" | translate}}
                </div>
                <div *ngIf="formControl.email.hasError('registered')"
                     class="icon-error-box">
                    {{"create-account-card.errors.alreadyRegistered" | translate}}
                </div>

                <ion-item text-wrap class="floating-label-icon-left input-has-icon"
                          [class.error]="(!formControl.confirmEmail.valid ||
                          createAccountForm.getError('mismatchedFields') === 'mismatchedEmails') && formControl.confirmEmail.touched">
                    <ion-label floating>{{"create-account-card.labels.confirmEmail" | translate}}</ion-label>
                    <ion-icon color="primary" name="checkmark-circle-outline" item-left class="floating-label-icon"></ion-icon>
                    <ion-input type="email" [formControl]="formControl.confirmEmail"></ion-input>
                </ion-item>
                <div *ngIf="(formControl.confirmEmail.hasError('required')
                    || formControl.confirmEmail.hasError('invalidEmail')
                    || createAccountForm.getError('mismatchedFields') === 'mismatchedEmails')
                    && formControl.confirmEmail.touched"
                     class="icon-error-box">
                    {{"create-account-card.errors.emailsMatch" | translate}}
                </div>
                <!---->

                <div padding></div>
            </ion-list>

            <button ion-button icon-right block 
                    [disabled]="!createAccountForm.valid"
                    (click)="createAccount()">
                {{"page-create-account.title" | translate}}
                <ion-icon name="create"></ion-icon>
            </button>
        </form>

        <button ion-button icon-right clear block
                (click)="showVerifyEmailCard()">
            {{"page-verify-email.title" | translate}}
            <ion-icon name="paper-plane"></ion-icon>
        </button>

        <button ion-button icon-right clear block 
                (click)="showSignInCard()">
            {{"page-login.title" | translate}}
            <ion-icon name="log-in"></ion-icon>
        </button>
    </ion-card-content>
</ion-card>