<ion-header>
    <ion-navbar color="navbar">
        <ion-title>
            {{"page-user-management.title" | translate}}
            <!--<img src="{{navbarPassPrintLogoUri}}" height="44" width="196" />-->
        </ion-title>
    </ion-navbar>
    <ion-toolbar color="navbar">
        <ion-row nowrap align-items-center style="overflow: hidden;">
            <ion-searchbar padding-left
                           [(ngModel)]="searchQuery"
                           (ionInput)="getItems($event)"
                           (ionClear)="onClearSearch($event)">
            </ion-searchbar>
            <div padding ion-text color="white" *ngIf="paginationInfo.pageCount === 1">
                <strong>{{filteredUsers.length + filteredAdmins.length}}</strong>
            </div>
        </ion-row>
    </ion-toolbar>
    <ion-toolbar color="navbar"
                 *ngIf="filteredUsers && filteredUsers.length > 0 && paginationInfo.pageCount > 1">
        <pagination-component
                color="primary"
                (clickBeginning)="changePage(1)"
                (clickPrevious)="changePage(paginationInfo.page - 1)"
                (clickNext)="changePage(paginationInfo.page + 1)"
                (clickEnd)="changePage(paginationInfo.pageCount)"
                [pagination]="paginationInfo"></pagination-component>
    </ion-toolbar>
</ion-header>

<ion-content #content>

    <ion-card>
        <ion-card-header>
            <ion-item text-wrap no-padding>
                <button ion-button clear round icon-only item-left
                        (click)="toggleShowAdmins()">
                    <ion-icon [name]="showAdmins ? 'ios-arrow-dropdown-outline' : 'ios-arrow-dropright-outline'">
                    </ion-icon>
                </button>
                <h1>{{"page-user-management.headers.administrators" | translate}}</h1>
                <div item-right>{{filteredAdmins.length}}</div>
            </ion-item>
        </ion-card-header>
        <ion-list *ngIf="showAdmins">
            <div *ngFor="let adminUser of filteredAdmins; let i = index;">
                <passprint-user-item [user]="adminUser"
                                     [index]="i + 1">
                </passprint-user-item>
            </div>
        </ion-list>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-item text-wrap no-padding>
                <button ion-button clear round icon-only item-left
                        (click)="toggleShowUsers()">
                    <ion-icon [name]="showUsers ? 'ios-arrow-dropdown-outline' : 'ios-arrow-dropright-outline'">
                    </ion-icon>
                </button>
                <h1>{{"page-user-management.headers.users" | translate}}</h1>
                <div item-right>{{filteredUsers.length}}</div>
            </ion-item>
        </ion-card-header>
        <ion-list *ngIf="showUsers">
            <div *ngFor="let passprintUser of filteredUsers; let i = index;">
                <passprint-user-item [user]="passprintUser"
                                     [index]="i + 1"
                                     (onRemoveUser)="deleteUser($event)">
                </passprint-user-item>
            </div>
        </ion-list>
    </ion-card>
</ion-content>