<ion-header>
    <ion-navbar color="navbar">
        <ion-title>
            <img src="{{navbarPassPrintLogoUri}}" height="44" width="196"/>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card class="card-centered-limited-width">
        <ion-item text-wrap class="ion-list-icon-header">
            <h1>{{"page-projects.title" | translate}}</h1>
            <button ion-button clear item-right icon-only large
                    (click)="createProject()">
                <ion-icon name="add-circle"></ion-icon>
            </button>
        </ion-item>
        <div *ngIf="projects && projects.length > 0">
            <ion-list padding-bottom>
                <div *ngFor="let project of projects">
                    <button ion-item text-wrap detail-none (click)="openProjectMenu(project)">
                        <ion-thumbnail item-left>
                            <img src="{{project.logo}}" *ngIf="project.logo">
                            <img src="{{placeholderImageUri}}" *ngIf="!project.logo">
                        </ion-thumbnail>
                        <h1>
                            {{project.displayName}}
                        </h1>
                    </button>
                </div>
            </ion-list>
        </div>
    </ion-card>
</ion-content>