<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" title="ios" href="/stylesheets/ios-bundle.css" />
    <link rel="stylesheet" type="text/css" title="md" href="/stylesheets/md-bundle.css" />
    <link rel="shortcut icon" href="/images/favicon.ico?" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico?" type="image/x-icon">
    <!--<base href="/">-->
</head>
<body>
  <ion-app></ion-app>
</body>
