<ion-header>
    <ion-navbar color="navbar">
        <ion-title>
            <img src="{{navbarPassPrintLogoUri}}" height="44" width="196"/>
        </ion-title>
        <ion-buttons end>
            <button ion-button
                    [disabled]="!nameForm.valid || !urlForm.valid"
                    (click)="save()">
                {{"general.save" | translate}}
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card class="card-centered-limited-width">
        <ion-card-header>
            <h1>
                {{"page-project-info.title" | translate}}
            </h1>
        </ion-card-header>
        <ion-card-content>
            <form [formGroup]="nameForm">
                <ion-list>
                    <ion-item text-wrap
                              [class.error]="!nameFormControl.displayName.valid && nameFormControl.displayName.touched">
                        <ion-label floating>{{"page-project-info.labels.displayName" | translate}}</ion-label>
                        <ion-input type="string"
                                   [(ngModel)]="project.displayName"
                                   [formControl]="nameFormControl.displayName"></ion-input>
                    </ion-item>
                    <div padding></div>
                </ion-list>
            </form>

            <h2>
                {{"page-project-info.labels.productLogo" | translate}}
            </h2>
            <add-image [imageUri]="imageUri"
                       *ngIf="imageUri">

            </add-image>
            <add-image [imageUri]="placeholderImageUri"
                       *ngIf="!imageUri">
            </add-image>


            <h2>{{"page-project-info.labels.urls" | translate}}</h2>

            <form [formGroup]="urlForm">
                <ion-list>
                    <ion-item text-wrap
                              [class.error]="!urlFormControl.homepageUrl.valid && urlFormControl.homepageUrl.touched">
                        <ion-label floating>{{"page-project-info.labels.homepageUrl" | translate}}</ion-label>
                        <ion-input type="url"
                                   [(ngModel)]="project.homepageUrl"
                                   [formControl]="urlFormControl.homepageUrl">
                        </ion-input>
                        <ion-note item-right>
                            {{"page-project-info.labels.optional" | translate}}
                        </ion-note>
                    </ion-item>
                    <div class="error-box"
                         *ngIf="urlFormControl.homepageUrl.hasError('invalidUrl') && urlFormControl.homepageUrl.touched">
                        {{"form-validation.errors.url" | translate}}
                    </div>

                    <ion-item text-wrap
                              [class.error]="!urlFormControl.privacyPolicyUrl.valid &&
                                             urlFormControl.privacyPolicyUrl.touched">
                        <ion-label floating>{{"page-project-info.labels.privacyPolicyUrl" | translate}}</ion-label>
                        <ion-input type="url"
                                   [(ngModel)]="project.privacyPolicyUrl"
                                   [formControl]="urlFormControl.privacyPolicyUrl">
                        </ion-input>
                    </ion-item>
                    <div class="input-help-box">
                        {{"page-project-info.help.optionalUntilDeploy" | translate}}
                    </div>
                    <div class="error-box"
                         *ngIf="urlFormControl.privacyPolicyUrl.hasError('invalidUrl') &&
                                urlFormControl.privacyPolicyUrl.touched">
                        {{"form-validation.errors.url" | translate}}
                    </div>

                    <ion-item text-wrap
                              [class.error]="!urlFormControl.tosUrl.valid &&
                                             urlFormControl.tosUrl.touched">
                        <ion-label floating>{{"page-project-info.labels.tosUrl" | translate}}</ion-label>
                        <ion-input type="url"
                                   [(ngModel)]="project.tosUrl"
                                   [formControl]="urlFormControl.tosUrl">
                        </ion-input>
                        <ion-note item-right>
                            {{"page-project-info.labels.optional" | translate}}
                        </ion-note>
                    </ion-item>
                    <div class="error-box"
                         *ngIf="urlFormControl.tosUrl.hasError('invalidUrl') && urlFormControl.tosUrl.touched">
                        {{"form-validation.errors.url" | translate}}
                    </div>
                    <div padding></div>
                </ion-list>
            </form>

            <div padding>
                <button ion-button block
                        color="primary"
                        [disabled]="!nameForm.valid || !urlForm.valid"
                        (click)="save()">
                    {{"general.save" | translate}}
                </button>
            </div>
        </ion-card-content>
    </ion-card>

</ion-content>