<ion-header>
    <ion-navbar color="navbar">
        <ion-title>
            <img src="{{navbarPassPrintLogoUri}}" height="44" width="196"/>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card class="card-centered-limited-width">
        <ion-list padding-bottom>
            <ion-list-header>
                <ion-item text-wrap>
                    <ion-thumbnail item-left>
                        <img src="{{project.logo}}" *ngIf="project.logo">
                        <img src="{{placeholderImageUri}}" *ngIf="!project.logo">
                    </ion-thumbnail>
                    <h1>
                        {{project.displayName}}
                    </h1>
                </ion-item>
            </ion-list-header>
            <div *ngIf="pages && pages.length > 0">
                <div *ngFor="let page of pages">
                    <button ion-item text-wrap
                            (click)="openPage(page)">
                        <ion-icon item-left color="primary"
                                  [name]="!page.isIconFA ? page.icon : ''">
                            <i class="fa {{page.icon}}"
                               aria-hidden="true" *ngIf="page.isIconFA">
                            </i>
                        </ion-icon>
                        {{page.title | translate}}
                    </button>
                </div>
            </div>
        </ion-list>
    </ion-card>
</ion-content>