<ion-header>
    <ion-navbar color="navbar">
        <ion-title>
            <img src="{{navbarPassPrintLogoUri}}" height="44" width="196" />
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card class="card-centered-limited-width">
        <ion-list>
            <ion-list-header no-border no-margin>
                <ion-item text-wrap>
                    <ion-thumbnail item-left>
                        <img src="{{project.logo}}" *ngIf="project.logo">
                        <img src="{{placeholderImageUri}}" *ngIf="!project.logo">
                    </ion-thumbnail>
                    <h1>
                        {{project.displayName}}
                    </h1>
                </ion-item>
            </ion-list-header>
        </ion-list>
    </ion-card>

    <ion-card class="card-centered-limited-width">
        <ion-item text-wrap class="ion-list-icon-header">
            <h1>{{"page-project-credentials.headers.oauthClients" | translate}}</h1>
            <button ion-button clear item-right icon-only large
                    (click)="editCredentials()">
                <ion-icon name="add-circle"></ion-icon>
            </button>
        </ion-item>
        <div *ngIf="oauthClients && oauthClients.length > 0">
            <ion-list padding-bottom>
                <div *ngFor="let oauthClient of oauthClients">
                    <ion-item ion-item text-wrap
                              class="user-select">
                        {{oauthClient.clientName}}
                        <button ion-button item-right icon-only clear
                                (click)="editCredentials(oauthClient)">
                            <ion-icon name="create" color="primary"></ion-icon>
                        </button>
                        <button ion-button item-right icon-only clear
                                (click)="confirmDeleteClient(oauthClient)">
                            <ion-icon name="trash" color="danger"></ion-icon>
                        </button>
                    </ion-item>
                </div>
            </ion-list>
        </div>
    </ion-card>
</ion-content>