<ion-card class="card-centered-limited-width">
    <img src="{{cardPassPrintLogoUri}}"/>
    <ion-card-content>
        <form [formGroup]="verifyEmailForm">
            <ion-list>
                <ion-item text-wrap class="floating-label-icon-left input-has-icon"
                          [class.error]="(!formControl.email.valid && formControl.email.touched) ||
                          formControl.email.hasError('notRegistered')">
                    <ion-label floating>{{"login-card.labels.email" | translate}}</ion-label>
                    <ion-icon name="mail" item-left class="floating-label-icon" color="primary"></ion-icon>
                    <ion-input type="email"
                               [formControl]="formControl.email"
                               [(ngModel)]="formInputs.email"></ion-input>
                </ion-item>
                <div *ngIf="(formControl.email.hasError('required') ||
                    formControl.email.hasError('invalidEmail')) && formControl.email.touched"
                     class="icon-error-box">
                    {{"login-card.errors.invalidEmail" | translate}}
                </div>
                <div *ngIf="formControl.email.hasError('notRegistered')"
                     class="icon-error-box">
                    {{"login-card.errors.notRegistered" | translate}}
                </div>
                <div padding></div>
            </ion-list>

            <button ion-button icon-right block
                    [disabled]="!verifyEmailForm.valid"
                    (click)="onSubmit()">
                {{"verify-email-card.buttons.verifyEmail" | translate}}
                <ion-icon name="paper-plane"></ion-icon>
            </button>

            <button ion-button icon-right clear block
                    (click)="showCreateAccountCard()">
                {{"page-create-account.title" | translate}}
                <ion-icon name="create"></ion-icon>
            </button>

        </form>
    </ion-card-content>
</ion-card>