<ion-header>
    <ion-navbar color="navbar">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <img src="{{navbarPassPrintLogoUri}}" height="44" width="196"/>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <img class="img-responsive" src="/images/passprint_banner.png" alt="PassPrint Banner">

    <!--<ion-card class="card-centered-limited-width">-->
    <!--<ion-card-content>-->
    <!--<ion-row>-->
    <!--<ion-col>-->
    <!--<div class="apple-badge">-->
    <!--<a href="#">-->
    <!--<img alt="Download on the App Store"-->
    <!--src="/images/app_store_badge.svg"/>-->
    <!--</a>-->
    <!--</div>-->
    <!--</ion-col>-->
    <!--</ion-row>-->
    <!--<ion-row>-->
    <!--<ion-col>-->
    <!--<div class="android-badge">-->
    <!--<a href="https://play.google.com/store/apps/details?id=com.dft.passprint&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1">-->
    <!--<img alt="Get it on Google Play"-->
    <!--src="https://play.google.com/intl/en_us/badges/images/generic/en-play-badge.png"/></a>-->
    <!--</div>-->
    <!--</ion-col>-->
    <!--</ion-row>-->
    <!--</ion-card-content>-->
    <!--</ion-card>-->

    <ion-grid>
        <ion-row>
            <ion-col col-12 col-md-6>
                <div class="badge-container">
                    <div class="badge apple-badge">
                        <a href="#">
                            <img alt="Download on the App Store"
                                 src="/images/app_store_badge.svg"/>
                        </a>
                    </div>
                </div>
            </ion-col>
            <ion-col col-12 col-md-6>
                <div class="badge-container">
                    <div class=" badge android-badge">
                        <a href="https://play.google.com/store/apps/details?id=com.dft.passprint&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1">
                            <img alt="Get it on Google Play"
                                 src="https://play.google.com/intl/en_us/badges/images/generic/en-play-badge.png"/></a>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-card>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col col-12 col-md-6 text-center>
                        <h1>{{"page-home.headers.biometricLogin" | translate}}</h1>
                        <h1>{{"page-home.headers.noPasswords" | translate}}</h1>
                        <h1>{{"page-home.headers.mobileDevice" | translate}}</h1>
                        <div padding>
                            <p>{{"page-home.idaas" | translate}}</p>
                            <p>{{"page-home.onlineIdentity" | translate}}</p>
                        </div>
                        <img class="oauth2-badge" src="/images/icon_oauth2.png" alt="OAuth2 Badge">
                        <div padding>
                            <p>{{"page-home.passprintOauth2" | translate}}</p>
                            <p>{{"page-home.otherSites" | translate}}</p>
                            <h2 padding>
                                <a href="http://www.diamondfortress.com">
                                    {{"page-home.readMore" | translate}}
                                </a>
                            </h2>
                        </div>
                    </ion-col>
                    <ion-col col-12 col-md-6 text-center>
                        <h1>{{"page-home.headers.watchInAction" | translate}}</h1>
                        <iframe class="passprint-demo-youtube"
                                src="https://youtube.com/embed/0IYd5jNknxQ"
                                frameborder="0"
                                allowfullscreen
                                padding>
                        </iframe>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <h1>{{"page-home.gettingStarted.header" | translate}}</h1>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item text-wrap>
                    <div item-left>1.</div>
                    {{"page-home.gettingStarted.steps.download" | translate}}
                </ion-item>
                <ion-item text-wrap>
                    <div item-left>2.</div>
                    {{"page-home.gettingStarted.steps.createAccount" | translate}}
                </ion-item>
                <ion-item text-wrap>
                    <div item-left>3.</div>
                    {{"page-home.gettingStarted.steps.register" | translate}}
                </ion-item>
                <ion-item text-wrap>
                    <div item-left>4.</div>
                    {{"page-home.gettingStarted.steps.enrollFingerprint" | translate}}
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <h1>{{"page-home.ready2Go.header" | translate}}</h1>
        </ion-card-header>
        <ion-card-content>
            <p>{{"page-home.ready2Go.content" | translate}}</p>
            <p [innerHtml]="'page-home.ready2Go.demo' | translate"></p>
        </ion-card-content>
    </ion-card>
</ion-content>