<ion-header>
    <ion-navbar color="navbar">
        <ion-title>
            <img src="{{navbarPassPrintLogoUri}}" height="44" width="196"/>
        </ion-title>
        <ion-buttons end>
            <button ion-button
                    [disabled]="!nameForm.valid"
                    (click)="save()">
                {{"general.save" | translate}}
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card class="card-centered-limited-width">
        <ion-card-header>
            <h1>
                {{"page-edit-oauth-client.title" | translate}}
            </h1>
        </ion-card-header>
        <ion-list>
            <ion-item text-wrap
                      class="user-select">
                <h2 ion-text color="primary">
                    {{"page-edit-oauth-client.labels.clientId" | translate}}
                </h2>
                <div padding-top>
                    {{oauthClient.clientId}}
                </div>
            </ion-item>
            <ion-item text-wrap
                      class="user-select">
                <h2 ion-text color="primary">
                    {{"page-edit-oauth-client.labels.clientSecret" | translate}}
                </h2>
                <div margin-top>
                    {{oauthClient.clientSecret}}
                </div>
                <button ion-button icon-only item-right clear color="primary"
                        (click)="promptRefreshSecretKey()"
                        *ngIf="oauthClient._id">
                    <ion-icon name="refresh"></ion-icon>
                </button>
            </ion-item>
            <ion-item text-wrap
                      class="user-select">
                <h2 ion-text color="primary">
                    {{"general.created" | translate}}
                </h2>
                <div item-right>
                    {{ oauthClient.created | date:'MMM dd, yyyy, h:mm a'}}
                </div>
            </ion-item>
        </ion-list>
    </ion-card>

    <ion-card class="card-centered-limited-width">
        <ion-card-content>
            <form [formGroup]="nameForm">
                <ion-list>
                    <ion-item text-wrap
                              [class.error]="!nameFormControl.clientName.valid && nameFormControl.clientName.touched">
                        <ion-label floating>{{"page-edit-oauth-client.labels.clientName" | translate}}</ion-label>
                        <ion-input type="string"
                                   [(ngModel)]="oauthClient.clientName"
                                   [formControl]="nameFormControl.clientName"></ion-input>
                    </ion-item>
                    <div padding></div>
                </ion-list>
            </form>
        </ion-card-content>

        <ion-card-header>
            <h1>
                {{"page-edit-oauth-client.labels.restrictions" | translate}}
            </h1>
        </ion-card-header>

        <ion-list padding-bottom>
            <ion-list-header no-padding>
                <ion-item text-wrap
                          class="ion-list-icon-header">
                    <h2>{{"page-edit-oauth-client.labels.authorizedOrigins" | translate}}</h2>
                    <button ion-button clear item-right icon-only
                            (click)="editAuthorizedOrigin()">
                        <ion-icon name="add-circle"></ion-icon>
                    </button>
                </ion-item>
            </ion-list-header>
            <div *ngIf="oauthClient.origins && oauthClient.origins.length > 0">
                <div *ngFor="let origin of oauthClient.origins; let i = index;">
                    <ion-item text-wrap
                              class="user-select">
                        {{origin}}
                        <button ion-button item-right icon-only clear
                                (click)="editAuthorizedOrigin(origin, i)">
                            <ion-icon name="create" color="primary"></ion-icon>
                        </button>
                        <button ion-button item-right icon-only clear
                                (click)="removeAuthorizedOrigin(i)">
                            <ion-icon name="trash" color="danger"></ion-icon>
                        </button>
                    </ion-item>
                </div>
            </div>
        </ion-list>

        <ion-list padding-bottom>
            <ion-list-header no-padding>
                <ion-item text-wrap
                          class="ion-list-icon-header">
                    <h2>{{"page-edit-oauth-client.labels.authorizedRedirectUris" | translate}}</h2>
                    <button ion-button clear item-right icon-only
                            (click)="editAuthorizedRedirectUri()">
                        <ion-icon name="add-circle"></ion-icon>
                    </button>
                </ion-item>
            </ion-list-header>
            <div *ngIf="oauthClient.redirectUri && oauthClient.redirectUri.length > 0">
                <div *ngFor="let redirectUri of oauthClient.redirectUri; let i = index;">
                    <ion-item text-wrap
                              class="user-select">
                        {{redirectUri}}
                        <button ion-button item-right icon-only clear
                                (click)="editAuthorizedRedirectUri(redirectUri, i)">
                            <ion-icon name="create" color="primary"></ion-icon>
                        </button>
                        <button ion-button item-right icon-only clear
                                (click)="removeAuthorizedRedirectUri(i)">
                            <ion-icon name="trash" color="danger"></ion-icon>
                        </button>
                    </ion-item>
                </div>
            </div>
        </ion-list>

        <div padding>
            <button ion-button block
                    color="primary"
                    [disabled]="!nameForm.valid"
                    (click)="save()">
                {{"general.save" | translate}}
            </button>
        </div>

    </ion-card>
</ion-content>