.item-navbar {
  background-color: color($colors, navbar);
  color: white;
  p {
    color: white;
  }
}

.item.item-block p.user-item-email {
  color: white;
  font-size: 1.15rem;
}

.item-navbar .item-inner {
  border-bottom: none;
}

.no-user-image-icon {
  font-size: 24px;
  width: 36px;
}

.avatar-large button.no-user-image-icon {
  font-size: 50px;
  width: 76px;
  height: 72px;
}

/*Single item list for user*/
ion-list.list-user {
  margin-bottom: 0;
}