<form [formGroup]="loginForm">
    <ion-list>
        <ion-item text-wrap class="floating-label-icon-left input-has-icon"
                  [class.error]="(!formControl.email.valid && formControl.email.touched) ||
                          formControl.email.hasError('notRegistered')">
            <ion-label floating>{{"login-card.labels.email" | translate}}</ion-label>
            <ion-icon name="mail" item-left class="floating-label-icon" color="primary"></ion-icon>
            <ion-input type="email"
                       [formControl]="formControl.email"
                       [(ngModel)]="formInputs.email"></ion-input>
        </ion-item>
        <div *ngIf="(formControl.email.hasError('required') ||
                    formControl.email.hasError('invalidEmail')) && formControl.email.touched"
             class="icon-error-box">
            {{"login-card.errors.invalidEmail" | translate}}
        </div>
        <div *ngIf="formControl.email.hasError('notRegistered')"
             class="icon-error-box">
            {{"login-card.errors.notRegistered" | translate}}
        </div>
        <div padding></div>
    </ion-list>

    <ion-row>
        <button ion-button icon-right color="primary" style="margin-left:auto;"
                [disabled]="!loginForm.valid"
                (click)="onSubmit()">
            {{"general.next" | translate}}
            <ion-icon name="arrow-forward"></ion-icon>
        </button>
    </ion-row>
</form>