<ion-header>
    <ion-navbar color="navbar">
        <ion-title>
            {{"page-verify-email.title" | translate}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <verify-email-card></verify-email-card>
</ion-content>