<ion-header>
    <ion-navbar color="navbar">
        <ion-title>
            {{"page-create-account.title" | translate}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card class="card-centered-limited-width">
        <ion-card-content>
            <ion-list>
                <div *ngFor="let oauthProvider of oauthProviders">
                    <oauth-provider [oauthProvider]="oauthProvider"></oauth-provider>
                </div>
            </ion-list>
        </ion-card-content>
    </ion-card>

    <create-account-card></create-account-card>
</ion-content>