<ion-header>
    <ion-navbar color="navbar">
        <ion-title>
            <img src="{{navbarPassPrintLogoUri}}" height="44" width="196" />
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only
                    (click)="dismiss()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card class="card-centered-limited-width">
        <ion-card-header>
            <h1>
                {{"page-authorized-redirect-modal.title" | translate}}
            </h1>
        </ion-card-header>

        <ion-card-content>
            <form [formGroup]="formGroup">
                <ion-list>
                    <ion-item text-wrap
                              [class.error]="!formControl.url.valid &&
                                             formControl.url.touched">
                        <ion-label floating>{{"page-authorized-redirect-modal.labels.redirectUri" | translate}}</ion-label>
                        <ion-input type="url"
                                   [(ngModel)]="url"
                                   [formControl]="formControl.url">
                        </ion-input>
                    </ion-item>
                    <div class="error-box"
                         *ngIf="formControl.url.hasError('invalidUrl') && formControl.url.touched">
                        {{"form-validation.errors.url" | translate}}
                    </div>
                    <div padding></div>
                </ion-list>
            </form>

            <button ion-button block color="primary"
                    [disabled]="!formGroup.valid"
                    (click)="save()">
                {{"general.save" | translate}}
            </button>
        </ion-card-content>
    </ion-card>
</ion-content>