<ion-header>
    <ion-navbar color="navbar">
        <ion-title>
            <!--<img src="{{navbarPassPrintLogoUri}}" height="44" width="196" />-->
            {{"page-project-dashboard.title" | translate}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card class="card-centered-limited-width">
        <ion-list>
            <ion-list-header no-margin>
                <ion-item text-wrap>
                    <ion-thumbnail item-left>
                        <img src="{{project.logo}}" *ngIf="project.logo">
                        <img src="{{placeholderImageUri}}" *ngIf="!project.logo">
                    </ion-thumbnail>
                    <h1>
                        {{project.displayName}}
                    </h1>
                </ion-item>
            </ion-list-header>
        </ion-list>
    </ion-card>

    <div *ngIf="oauthClients && oauthClients.length > 0 && aggregates && aggregates.grants">
        <ion-card class="card-centered-limited-width">
            <ion-list>
                <ion-list-header no-margin>
                    <ion-item text-wrap no-padding>
                        <h1>{{"page-project-dashboard.headers.grants" | translate}}</h1>
                        <ion-icon item-right>{{aggregates.grants.project.totals.totalGrants}}</ion-icon>
                    </ion-item>
                </ion-list-header>
                <div *ngFor="let client of oauthClients">
                    <ion-item text-wrap>
                        {{client.clientName}}
                        <div item-right>
                            {{client.grants.total}}
                        </div>
                    </ion-item>
                </div>
            </ion-list>
        </ion-card>
    </div>

    <ion-card class="card-centered-limited-width">
        <ion-list>
            <ion-list-header no-margin>
                <ion-item text-wrap no-padding>
                    <h1>{{"page-project-dashboard.headers.currentMonth" | translate}}</h1>
                    <h1 item-right><strong>{{nowString | moment:"MMMM YYYY"}}</strong></h1>
                </ion-item>
            </ion-list-header>
            <div *ngIf="aggregates && aggregates.users">
                <ion-list-header no-margin>
                    <ion-item text-wrap no-padding>
                        <h1>{{"page-project-dashboard.headers.users" | translate}}</h1>
                        <ion-icon item-right>{{aggregates.users.currentMonth.count}}</ion-icon>
                    </ion-item>
                </ion-list-header>
            </div>
            <div *ngIf="billing">
                <ion-list-header no-margin>
                    <ion-item text-wrap no-padding>
                        <h1>{{"page-project-dashboard.headers.userFees" | translate}}</h1>
                        <ion-icon item-right>{{billing.total | currency:'USD':true}}</ion-icon>
                    </ion-item>
                    <div *ngFor="let tier of billing.levels">
                        <ion-item text-wrap>
                            {{tier.users}}&nbsp;{{"page-project-dashboard.headers.users" | translate}}&nbsp;
                            X&nbsp;{{tier.rate | currency:'USD':true}}
                            <div item-right>
                                {{tier.total | currency:'USD':true}}
                            </div>
                        </ion-item>
                    </div>
                </ion-list-header>
            </div>
            <div *ngIf="projectCurrentMonthGrants">
                <ion-list-header no-margin>
                    <ion-item text-wrap no-padding>
                        <h1>{{"page-project-dashboard.headers.grants" | translate}}</h1>
                        <ion-icon item-right>{{projectCurrentMonthGrants.total}}</ion-icon>
                    </ion-item>
                    <div *ngFor="let day of projectCurrentMonthGrants.days">
                        <ion-item text-wrap>
                            {{day._id.year + "-" + (day._id.month + 1) + "-" + day._id.day +
                            ", YYYY/M/D" | moment: "ddd, MMM Do"}}
                            <div item-right>
                                {{day.dailyGrants}}
                            </div>
                        </ion-item>
                    </div>
                </ion-list-header>
            </div>
        </ion-list>
    </ion-card>

    <!--<div *ngIf="aggregates && aggregates.users">-->
    <!--<ion-card class="card-centered-limited-width">-->
    <!--<ion-list>-->
    <!--<ion-list-header no-margin>-->
    <!--<ion-item text-wrap no-padding>-->
    <!--<h1>Current Month Users</h1>-->
    <!--<h2><strong>{{nowString | moment:"MMMM YYYY"}}</strong></h2>-->
    <!--<ion-icon item-right>{{aggregates.users.currentMonth.count}}</ion-icon>-->
    <!--</ion-item>-->
    <!--</ion-list-header>-->
    <!--</ion-list>-->
    <!--</ion-card>-->
    <!--</div>-->

    <!--<div *ngIf="projectCurrentMonthGrants">-->
    <!--<ion-card class="card-centered-limited-width">-->
    <!--<ion-list>-->
    <!--<ion-list-header no-margin>-->
    <!--<ion-item text-wrap no-padding>-->
    <!--<h1>Current Month Usage</h1>-->
    <!--<h2><strong>{{nowString | moment:"MMMM YYYY"}}</strong></h2>-->
    <!--<ion-icon item-right>{{projectCurrentMonthGrants.total}}</ion-icon>-->
    <!--</ion-item>-->
    <!--</ion-list-header>-->
    <!--<div *ngFor="let day of projectCurrentMonthGrants.days">-->
    <!--<ion-item text-wrap>-->
    <!--{{day._id.year + "-" + (day._id.month + 1) + "-" + day._id.day +-->
    <!--", YYYY/M/D" | moment: "ddd, MMM Do"}}-->
    <!--<div item-right>-->
    <!--{{day.dailyGrants}}-->
    <!--</div>-->
    <!--</ion-item>-->
    <!--</div>-->
    <!--</ion-list>-->
    <!--</ion-card>-->
    <!--</div>-->
</ion-content>