<ion-header>
    <ion-navbar color="navbar">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <img src="{{navbarPassPrintLogoUri}}" height="44" width="196"/>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-card class="card-centered-limited-width">
        <ion-card-header>
            <h1>
                {{"page-developer.title" | translate}}
            </h1>
        </ion-card-header>
        <ion-list padding-bottom>
            <div *ngFor="let page of pages">
                <button ion-item text-wrap
                        (click)="openPage(page)">
                    <ion-icon item-left color="primary"
                              [name]="!page.isIconFA ? page.icon : ''">
                        <i class="fa {{page.icon}}"
                           aria-hidden="true" *ngIf="page.isIconFA">
                        </i>
                    </ion-icon>
                    {{page.title | translate}}
                </button>
            </div>
        </ion-list>
    </ion-card>
</ion-content>