page-home {
  .apple-badge {
    margin: 10px auto;
    width: 220px
  }

  .android-badge {
    margin: 10px auto;
    width: 250px;
  }

  .badge-container {
    position: relative;
    height: 100%;
  }

  .badge {
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
  }

  .badge img {
    display: block;
    width: 100%;
  }

  .oauth2-badge {
    display: block;
    height: 144px;
    width: 144px;
    margin: auto;
    padding: 10px;
  }

  .passprint-demo-youtube {
    height: 315px;
    width: 100%;
    margin: auto;
  }
}