<ion-header>
    <ion-navbar color="navbar">
        <ion-title>{{"page-account-menu.title" | translate}}</ion-title>
    </ion-navbar>
    <ion-toolbar color="navbar">
        <ion-list no-lines class="list-user" *ngIf="user">
            <ion-item detail-none text-wrap
                      class="item-navbar"
                      *ngIf="user">
                <ion-avatar item-left class="avatar-large">
                    <img src="{{user.profile.picture}}" *ngIf="user.profile.picture">
                    <div *ngIf="!user.profile.picture">
                        <button ion-button icon-only round clear color="light"
                                class="disable-hover no-user-image-icon">
                            <ion-icon name="contact"></ion-icon>
                        </button>
                    </div>
                </ion-avatar>
                <h1>{{user.profile.name.display}}</h1>
                <h2 class="user-item-email">{{user.emails['0'].address}}</h2>
            </ion-item>
        </ion-list>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list background-color="white">
        <button ion-item text-wrap
                *ngFor="let page of pages"
                (click)="openPage(page)">
            <ion-icon name="{{page.icon}}" item-left color="primary"></ion-icon>
            {{page.title | translate}}
        </button>
        <language-select></language-select>
    </ion-list>
</ion-content>