<ion-list no-margin background-color="white">
    <button ion-item
            (click)="toggleAdminRole()"
            *ngIf="isAdmin && !currentUserSelected">
        <ion-icon item-left color="primary">
            <i class="fa fa-user-secret" aria-hidden="true"></i>
        </ion-icon>
        {{"page-passprint-user-item-popover.removeAdmin" | translate}}
    </button>
    <button ion-item
            (click)="toggleAdminRole()"
            *ngIf="!isAdmin">
        <ion-icon item-left color="primary">
            <i class="fa fa-user-secret" aria-hidden="true"></i>
        </ion-icon>
        {{"page-passprint-user-item-popover.makeAdmin" | translate}}
    </button>
    <button ion-item
            (click)="deleteUser()"
            *ngIf="!currentUserSelected">
        <ion-icon item-left name="trash" color="danger"></ion-icon>
        {{"general.delete" | translate}}
    </button>
</ion-list>