<ion-header>
    <ion-navbar color="navbar">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <!--{{"page-admin.title" | translate}}-->
            <img src="{{navbarPassPrintLogoUri}}" height="44" width="196" />
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card class="card-centered-limited-width">
        <ion-card-header>
            <h1>{{"page-admin.title" | translate}}</h1>
        </ion-card-header>
        <ion-list>
            <button ion-item detail-none text-wrap
                    (click)="manageUsers()">
                <ion-icon item-left name="contacts" color="primary"></ion-icon>
                {{"page-admin.labels.users" | translate}}
                <div item-right>
                    {{userCount}}
                </div>
            </button>
            <button ion-item detail-none text-wrap
                    (click)="manageRelyingParties()">
                <ion-icon item-left color="primary">
                    <i class="fa fa-handshake-o" aria-hidden="true"></i>
                </ion-icon>
                {{"page-admin.labels.relyingParties" | translate}}
                <div item-right>
                    {{relyingPartiesCount}}
                </div>
            </button>
        </ion-list>
    </ion-card>
</ion-content>