<ion-header>
    <ion-navbar color="navbar">
        <ion-title>
            {{"page-login.title" | translate}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card class="card-centered-limited-width">
        <img src="{{cardPassPrintLogoUri}}">

        <div padding style="position: relative;">
            <ion-fab right left *ngIf="user._id">
                <button ion-fab
                        class="disable-hover"
                        (click)="switchUser()">
                    <ion-icon name="arrow-back"></ion-icon>
                </button>
            </ion-fab>
            <img src="{{imageUri}}" class="card-image"
                 *ngIf="user._id">
        </div>

        <ion-card-content>

            <login-form *ngIf="!user._id && showLoginForm"
                        (onAccountFound)="onAccountFound($event)">
            </login-form>

            <div *ngIf="!showLoginForm">
                <div *ngIf="!user._id">
                    <div *ngIf="accounts && accounts.length > 0">
                        <div *ngFor="let account of accounts">
                            <div *ngIf="!removeAccounts">
                                <button ion-item detail-push
                                        (click)="goLogin(account)">
                                    <ion-avatar item-left>
                                        <img src="{{account.profile.picture}}" *ngIf="account.profile.picture">
                                        <div *ngIf="!account.profile.picture">
                                            <button ion-button icon-only round clear color="primary"
                                                    class="disable-hover no-user-image-icon">
                                                <ion-icon name="contact"></ion-icon>
                                            </button>
                                        </div>
                                    </ion-avatar>
                                    <h2>{{account.profile.name.display}}</h2>
                                    <p>{{account.emails['0'].address}}</p>
                                    <h3 *ngIf="account.profile.isLoggedIn">{{"page-login.signedIn" | translate}}</h3>
                                    <ion-icon name="ios-arrow-forward" item-right color="primary"></ion-icon>
                                </button>
                            </div>
                            <div *ngIf="removeAccounts">
                                <button ion-item detail-push (click)="removeAccount(account)">
                                    <ion-avatar item-left>
                                        <img src="{{account.profile.picture}}" *ngIf="account.profile.picture">
                                        <div *ngIf="!account.profile.picture">
                                            <button ion-button icon-only round clear color="primary"
                                                    class="disable-hover no-user-image-icon">
                                                <ion-icon name="contact"></ion-icon>
                                            </button>
                                        </div>
                                    </ion-avatar>
                                    <h2>{{account.profile.name.display}}</h2>
                                    <p>{{account.emails['0'].address}}</p>
                                    <h3 *ngIf="account.profile.isLoggedIn">{{"page-login.signedIn" | translate}}</h3>
                                    <ion-icon name="close" item-right color="primary"></ion-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="(!accounts || accounts.length === 0) && removeAccounts">
                        <ion-item>
                            <ion-avatar item-left>
                                <button ion-button icon-only round clear color="dft-yellow"
                                        class="disable-hover no-user-image-icon">
                                    <ion-icon name="information-circle"></ion-icon>
                                </button>
                            </ion-avatar>
                            {{"page-login.removedAllAccounts" | translate}}
                        </ion-item>
                    </div>

                    <div *ngIf="!removeAccounts">
                        <ion-row>
                            <ion-col width-50>
                                <button ion-button block clear color="primary"
                                        (click)="addAccount()">
                                    {{"page-login.buttons.addAccount" | translate}}
                                </button>
                            </ion-col>
                            <ion-col width-50>
                                <button ion-button block clear color="primary"
                                        (click)="toggleRemoveAccounts()">
                                    {{"page-login.buttons.removeAccount" | translate}}
                                </button>
                            </ion-col>
                        </ion-row>
                    </div>
                    <div *ngIf="!user._id && removeAccounts">
                        <button ion-button block clear color="primary"
                                (click)="toggleRemoveAccounts()">
                            {{"general.done" | translate}}
                        </button>
                    </div>
                </div>

                <div *ngIf="user._id">
                    <h1 text-center>{{user.profile.name.display}}</h1>
                    <h2 text-center>{{user.emails['0'].address}}</h2>

                    <div padding></div>

                    <button ion-button block color="primary" icon-right
                            [disabled]="isSigningIn"
                            (click)="signInWithPassPrint()"
                            *ngIf="!isSigningIn">
                        {{"page-login.title" | translate}}
                        <ion-icon name="paper-plane"></ion-icon>
                        <ion-icon name="phone-portrait"></ion-icon>
                        <ion-icon name="finger-print"></ion-icon>
                    </button>

                    <ion-item text-wrap
                              *ngIf="isSigningIn">
                        <ion-icon item-left>
                            <ion-spinner color="primary"></ion-spinner>
                        </ion-icon>
                        {{"page-login.pendingAuthentication" | translate}}
                        <button ion-button icon-only item-right clear round
                                (click)="cancelAuthRequest()">
                            <ion-icon name="close-circle" color="danger"></ion-icon>
                        </button>
                    </ion-item>
                </div>
            </div>
        </ion-card-content>
    </ion-card>

    <ion-card class="card-centered-limited-width" *ngIf="!user._id">
        <button ion-button icon-right clear block
                (click)="showCreateAccountCard()">
            {{"page-create-account.title" | translate}}
            <ion-icon name="create"></ion-icon>
        </button>
    </ion-card>

    <ion-card class="card-centered-limited-width" *ngIf="isRejected">
        <ion-card-content>
            <ion-item text-wrap>
                <ion-icon item-left color="danger">
                    <i class="fa fa-ban" aria-hidden="true"></i>
                </ion-icon>
                {{"page-login.authRequestRejected" | translate}}
            </ion-item>
        </ion-card-content>
    </ion-card>
</ion-content>