<div *ngIf="user">
    <ion-item detail-none text-wrap>
        <div item-left>{{index}}</div>
        <ion-avatar item-left>
            <img src="{{user.profile.picture}}" *ngIf="user.profile.picture">
            <div *ngIf="!user.profile.picture">
                <button ion-button icon-only round clear color="primary"
                        class="disable-hover no-user-image-icon">
                    <ion-icon name="contact"></ion-icon>
                </button>
            </div>
        </ion-avatar>
        <h2>{{user.profile.name.display}}</h2>
        <p *ngIf="user && user.emails">{{user.emails['0'].address}}</p>
        <ion-icon item-right name="finger-print" color="primary"
                  *ngIf="user.profile.isRegistered"></ion-icon>
        <button ion-button clear icon-only item-right
                (click)="presentPopover($event, user)"
                *ngIf="!isSelf">
            <ion-icon name="more"></ion-icon>
        </button>
    </ion-item>
</div>
