@import 'proxima-nova';

ion-card.card.card-centered-limited-width,
.card-centered-limited-width {
  margin: 16px auto;
  max-width: 500px;
}

ion-card.card.card-row,
.card-row {
  margin: 16px;
  max-width: 500px;
}

img.card-image {
  margin: 0 auto;
  padding: 20px;
  max-height: 250px;
  width: auto;
}

.clickable {
  cursor: pointer;
}

button.item.ion-item-button {
  margin: 10px 0;
  font-size: 2rem;
  text-transform: uppercase;
}

ion-icon i.fa {
  font-size: 21px;
}

.center-logo {
  margin: 16px auto;
  width: 200px;
}

.bar-button-default-md:hover:not(.disable-hover),
.bar-button-clear-md-default:hover:not(.disable-hover),
.bar-button-md-default:hover:not(.disable-hover) {
  color: color($colors, primary);
}

.user-select {
  white-space: pre-line;
  user-select: text;
}
  /**
   * Proxima Nova Fonts
   */
body {
  font-family: ProximaNova-Regular
}

th {
  font-family: ProximaNova-Semibold;
}

td {
  font-family: ProximaNova-Regular;
}

h1, h2, h3, h4, h5 {
  font-family: ProximaNova-Bold;
}

label {
  font-family: ProximaNova-Bold;
}

div, p {
  font-family: ProximaNova-Regular;
}

strong {
  font-family: ProximaNova-Bold;
}