@font-face {
    font-family: "ProximaNova-Black";
    src: url(/fonts/ProximaNova-Black.otf) format("opentype");
}

@font-face {
    font-family: "ProximaNova-Bold";
    src: url(/fonts/ProximaNova-Bold.otf) format("opentype");
}

@font-face {
    font-family: "ProximaNova-BoldIt";
    src: url(/fonts/ProximaNova-BoldIt.otf) format("opentype");
}

@font-face {
    font-family: "ProximaNova-Extrabold";
    src: url(/fonts/ProximaNova-Extrabold.otf) format("opentype");
}

@font-face {
    font-family: "ProximaNova-Light";
    src: url(/fonts/ProximaNova-Light.otf) format("opentype");
}

@font-face {
    font-family: "ProximaNova-LightItalic";
    src: url(/fonts/ProximaNova-LightItalic.otf) format("opentype");
}

@font-face {
    font-family: "ProximaNova-RegItalic";
    src: url(/fonts/ProximaNova-RegItalic.otf) format("opentype");
}

@font-face {
    font-family: "ProximaNova-Regular";
    src: url(/fonts/ProximaNova-Regular.otf) format("opentype");
}

@font-face {
    font-family: "ProximaNova-RegularItalic";
    src: url(/fonts/ProximaNova-RegularItalic.otf) format("opentype");
}

@font-face {
    font-family: "ProximaNova-Semibold";
    src: url(/fonts/ProximaNova-Semibold.otf) format("opentype");
}

@font-face {
    font-family: "ProximaNova-SemiboldItalic";
    src: url(/fonts/ProximaNova-SemiboldItalic.otf) format("opentype");
}

@font-face {
    font-family: "ProximaNovaCond-Light";
    src: url(/fonts/ProximaNovaCond-Light.otf) format("opentype");
}

@font-face {
    font-family: "ProximaNovaCond-LightIt";
    src: url(/fonts/ProximaNovaCond-LightIt.otf) format("opentype");
}

@font-face {
    font-family: "ProximaNovaCond-Regular";
    src: url(/fonts/ProximaNovaCond-Regular.otf) format("opentype");
}

@font-face {
    font-family: "ProximaNovaCond-RegularIt";
    src: url(/fonts/ProximaNovaCond-RegularIt.otf) format("opentype");
}

@font-face {
    font-family: "ProximaNovaCond-Semibold";
    src: url(/fonts/ProximaNovaCond-Semibold.otf) format("opentype");
}

@font-face {
    font-family: "ProximaNovaCond-SemiboldIt";
    src: url(/fonts/ProximaNovaCond-SemiboldIt.otf) format("opentype");
}

.proxima-nova-black {
    font-family: "ProximaNova-Black";
}

.proxima-nova-bold {
    font-family: "ProximaNova-Bold";
}

.proxima-nova-bold-italic {
    font-family: "ProximaNova-BoldIt";
}

.proxima-nova-extrabold {
    font-family: "ProximaNova-Extrabold";
}

.proxima-nova-light {
    font-family: "ProximaNova-Light";
}

.proxima-nova-light-italic {
    font-family: "ProximaNova-LightItalic";
}

.proxima-nova-reg-italic {
    font-family: "ProximaNova-RegItalic";
}

.proxima-nova-regular {
    font-family: "ProximaNova-Regular";
}

.proxima-nova-regular-italic {
    font-family: "ProximaNova-RegularItalic";
}

.proxima-nova-semibold {
    font-family: "ProximaNova-Semibold";
}

.proxima-nova-semibold-italic {
    font-family: "ProximaNova-SemiboldItalic";
}

.proxima-nova-cond-light {
    font-family: "ProximaNovaCond-Light";
}

.proxima-nova-cond-light-italic {
    font-family: "ProximaNovaCond-LightIt";
}

.proxima-nova-cond-regular {
    font-family: "ProximaNovaCond-Regular";
}

.proxima-nova-cond-regular-italic {
    font-family: "ProximaNovaCond-RegularIt";
}

.proxima-nova-cond-semibold {
    font-family: "ProximaNovaCond-Semibold";
}

.proxima-nova-cond-semibold-italic {
    font-family: "ProximaNovaCond-SemiboldIt";
}